#map {
	font-size: 11px;
	margin-left:340px;width: 460px; height: 400px;
}

#tooltip ul {
   list-style-type: decimal;
   padding: 0;
   margin: 0; 
}

#infoWindow a:link, a:visited, a:hover, a:focus, a:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #7A7652;
}

#infoWindow {
	font-size: 9px;
	overflow:auto;
	height:120px;
	width:240px;
	padding:0;
	margin-right:20px;
}

#infoWindow ul {
   list-style-type: none;
   padding: 0;
   margin: 0; 
   height: 100px;
}

#infoWindow li.innen { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
    	color: #484848;
    	text-align:right;
    	vertical-align: top;
	background-color:#FFD900;
	background-image: url(i/eckeobenlinks.gif);
    	background-repeat: no-repeat;
   	background-position: left top;
	width:25px;
	float:left;
	margin-bottom:4px;
	padding:2px;
}

#infoWindow li.spacer { 
	background-color:#FFFFFF;
	padding: 2px;
	float:left;
}

#infoWindow li.title { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	color: #FFFFFF;
	background-color:#E3E3E3;
	float:left;
	padding:2px;
	width:180px;
	margin-left:0px;
}

#infoWindow li.aussen { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	background-color:#E9E9E9;
	width:180px;
	float:left;
	padding:2px;
	margin-top:2px;
	margin-bottom:4px;
	margin-left:4px;
	margin-right:8px;	
}

#infoWindow li.clr {
   clear: both;
   width: 1px;
   height: 1px; 
   margin: 0;
}

#infoWindow br.clr {
   clear: both;
   width: 1px;
   font-size:1px;
   margin: 0;
   padding: 0;
   overflow:hidden;
 }

#treffer {
  padding-top:10px;padding-left:20px;background-color:#ffffff;float:left;overflow:auto;width:300px;height:400px;
}

#treffer a:link, a:visited, a:hover, a:focus, a:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #7A7652;
}

#treffer ul {
   list-style-type: none;
   padding: 0;
   margin: 0; 
   height: 150px;
}

#treffer li.innen { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
    	color: #484848;
    	text-align:right;
    	vertical-align: top;
	background-color:#FFD900;
	background-image: url(i/eckeobenlinks.gif);
    	background-repeat: no-repeat;
   	background-position: left top;
	width:50px;
	float:left;
	margin-bottom:4px;
	padding:2px;
}

#treffer li.spacer { 
	background-color:#FFFFFF;
	padding: 2px;
	float:left;
}

#treffer li.title { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	color: #FFFFFF;
	background-color:#E3E3E3;
	float:left;
	padding:2px;
	width:200px;
}

#treffer li.aussen { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	background-color:#E9E9E9;
	width:200px;
	float:right;
	padding:2px;
	margin-top:2px;
	margin-bottom:4px;
	margin-left:4px;
	margin-right:23px;	
}

#treffer li.clr {
   clear: both;
   width: 1px;
   height: 1px; 
   margin: 0;
}

#treffer br.clr {
   clear: both;
   width: 1px;
   font-size:1px;
   margin: 0;
   padding: 0;
   overflow:hidden;
 }


.tx-chhaendlersuche-pi1 {
	text-align:left; 
	padding-top: 1.7em;
	padding-left: 1.7em;
	padding-right: 2.7em;
	padding-bottom: 2.7em;
}

.tx-chhaendlersuche-pi1 td {
	height:1px;
	padding:0px;
}

.tx-chhaendlersuche-pi1 td img{
	height:1px;
}

#haendlersuche {
    background-color:#FFFFFF;
}

input,select {
    background-color:#ECEBE6;
    border:1px;
    border-style:solid;
    border-color:#CFCFC7;
}

.headline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
    color: #484848;
	margin-top: 13px;
}

.ergebnis {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
    color: #484848;
	font-weight: normal;
	margin-bottom: 7px;
}

.row_01_01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #484848;
	float:left;        
	max-width:310px;
	min-width:310px;
	width:310px;
	margin-top:10px;
	margin-left:5px;
	margin-bottom:10px;
}
.row_01_02 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #484848;
	max-width:310px;
	min-width:310px;
	width:310px;
	margin-right:40px;
	margin-bottom:10px;
	visibility:hidden;
}

.row_02_01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #484848;
	float:left;
	max-width:125px;
	min-width:125px;
	width:125px;
	margin-left:5px;
	margin-bottom:40px;
}


